<mat-toolbar color="primary">
    <span>Prueba De ingreso</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/dashboard">Inicio</button>
    <button mat-button routerLink="/dashboard/tarea">Tarea</button>
    <button mat-button routerLink="/dashboard/producto">Listado</button>
    <span class="example-spacer"></span>
    <!-- <button mat-button routerLink="/dashboard">LogOut</button> -->
    <!-- <button mat-icon-button class="example-icon" routerLink="/" aria-label="Example icon-button with menu icon">
      <mat-icon>logout</mat-icon>
    </button> -->
  </mat-toolbar>
