table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden; /* Para los bordes redondeados */
}

th, td {
  padding: 12px 15px;
}

th {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 3px solid #ddd;
}

td {
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
  color: #333;
}

tr:hover td {
  background-color: #f1f1f1;
  cursor: pointer;
}

td span {
  font-weight: bold;
}

span.completed {
  color: green;
}

span.pending {
  color: red;
}

.mat-elevation-z8 {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajuste para sombra */
  border-radius: 8px;
}

/* Añadir efecto de transición en el hover */
tr {
  transition: background-color 0.3s ease-in-out;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  th, td {
    padding: 10px;
  }

  table {
    font-size: 14px;
  }
}
