<div class="skill-form">
  <h2>Crear/Actualizar Habilidad</h2>
  <form [formGroup]="skillForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Nombre de la Habilidad</mat-label>
      <input matInput formControlName="name" required />
      <mat-error *ngIf="skillForm.get('name')?.invalid && skillForm.get('name')?.touched">
        El nombre de la habilidad es requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Nivel</mat-label>
      <mat-select formControlName="level" required>
        <mat-option value="">Seleccione...</mat-option>
        <mat-option value="Básico">Básico</mat-option>
        <mat-option value="Intermedio">Intermedio</mat-option>
        <mat-option value="Avanzado">Avanzado</mat-option>
      </mat-select>
      <mat-error *ngIf="skillForm.get('level')?.invalid && skillForm.get('level')?.touched">
        El nivel es requerido
      </mat-error>
    </mat-form-field>

    <button mat-raised-button type="submit" [disabled]="skillForm.invalid">Enviar</button>
  </form>
</div>

<div class="skill-list">
  <h2>Lista de Habilidades</h2>
  <table mat-table [dataSource]="dataSourceList " class="mat-elevation-z8">
  
    <!-- Columna para el nombre de la habilidad -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nombre de la Habilidad</th>
      <td mat-cell *matCellDef="let skill">{{ skill.name }}</td>
    </ng-container>
  
    <!-- Columna para el nivel -->
    <ng-container matColumnDef="level">
      <th mat-header-cell *matHeaderCellDef>Nivel</th>
      <td mat-cell *matCellDef="let skill">{{ skill.level }}</td>
    </ng-container>
  
    <!-- Columna para editar -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Editar</th>
      <td mat-cell *matCellDef="let skill; let i = index">
        <button mat-button (click)="editSkill(i)">Editar</button>
      </td>
    </ng-container>
  
    <!-- Columna para eliminar -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Eliminar</th>
      <td mat-cell *matCellDef="let skill; let i = index">
        <button mat-button color="warn" (click)="deleteSkill(i)">Eliminar</button>
      </td>
    </ng-container>
  
    <!-- Cabecera de la tabla -->
    <tr mat-header-row *matHeaderRowDef="['name', 'level', 'edit', 'delete']"></tr>
    <!-- Filas de la tabla -->
    <tr mat-row *matRowDef="let row; columns: ['name', 'level', 'edit', 'delete'];"></tr>
  </table>
</div>




  
  