<div class="people-form">
  <h2>Crear/Actualizar Persona</h2>
  <form [formGroup]="personForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Nombre Completo</mat-label>
      <input matInput formControlName="fullName" required />
      <mat-error *ngIf="personForm.get('fullName')?.invalid && personForm.get('fullName')?.touched">
        El nombre completo es requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Edad</mat-label>
      <input matInput formControlName="age" type="number" required />
      <mat-error *ngIf="personForm.get('age')?.invalid && personForm.get('age')?.touched">
        La edad es requerida
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Selecciona una Habilidad</mat-label>
      <mat-select formControlName="skills" multiple required>
        <mat-option *ngFor="let skill of (skills$ | async)" [value]="skill.name">
          {{ skill.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="personForm.get('skills')?.invalid && personForm.get('skills')?.touched">
        La habilidad es requerida
      </mat-error>
    </mat-form-field>

    <button mat-raised-button type="submit" [disabled]="personForm.invalid">Enviar</button>
  </form>
</div>

<div class="people-list">
  <div class="people-list">
    <h2>Lista de Personas</h2>
    <table mat-table [dataSource]="people" class="mat-elevation-z8">
  
      <!-- Columna para el nombre completo -->
      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef>Nombre Completo</th>
        <td mat-cell *matCellDef="let person">{{ person.fullName }}</td>
      </ng-container>
  
      <!-- Columna para la edad -->
      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef>Edad</th>
        <td mat-cell *matCellDef="let person">{{ person.age }}</td>
      </ng-container>
  
      <!-- Columna para las habilidades -->
      <ng-container matColumnDef="skills">
        <th mat-header-cell *matHeaderCellDef>Habilidades</th>
        <td mat-cell *matCellDef="let person">
          <span *ngIf="person.skills && person.skills.length > 0">
            <strong>{{ person.skills.join(', ') }}</strong>
          </span>
          <span *ngIf="!person.skills || person.skills.length === 0">Sin habilidades</span>
        </td>
      </ng-container>
  
      <!-- Columna para editar -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>Editar</th>
        <td mat-cell *matCellDef="let person; let i = index">
          <button mat-button (click)="editPerson(i)">Editar</button>
        </td>
      </ng-container>
  
      <!-- Columna para eliminar -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let person; let i = index">
          <button mat-button color="warn" (click)="deletePerson(i)">Eliminar</button>
        </td>
      </ng-container>
  
      <!-- Cabecera de la tabla -->
      <tr mat-header-row *matHeaderRowDef="['fullName', 'age', 'skills', 'edit', 'delete']"></tr>
      <!-- Filas de la tabla -->
      <tr mat-row *matRowDef="let row; columns: ['fullName', 'age', 'skills', 'edit', 'delete'];"></tr>
    </table>
  </div>
  
  
</div>

