<div>
  <div class="task-form">
    <h2>Crear/Actualizar tarea</h2>
    <form [formGroup]="tareaForm" (ngSubmit)="agregarTarea()">
      <mat-form-field appearance="fill">
        <mat-label>Tarea</mat-label>
        <input matInput formControlName="titulo" required />
        <mat-error *ngIf="tareaForm.get('titulo')?.invalid && tareaForm.get('titulo')?.touched">
          La tarea es requerida
        </mat-error>
      </mat-form-field>

       <mat-form-field appearance="fill">
        <mat-label>Selecciona una persona</mat-label>
        <mat-select formControlName="persona" multiple required>
          <mat-option *ngFor="let persona of (personas$ | async)" [value]="persona.fullName">
            {{ persona.fullName }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="tareaForm.get('persona')?.invalid && tareaForm.get('persona')?.touched">
          La persona es requerida
        </mat-error>
      </mat-form-field> 
  
      <mat-form-field appearance="fill">
        <mat-label>Fecha de Creación</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fechaCreacion" required />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <!-- Mensaje de error si el campo está inválido y ha sido tocado -->
        <mat-error *ngIf="tareaForm.get('fechaCreacion')?.invalid && tareaForm.get('fechaCreacion')?.touched">
          La fecha de creación es requerida
        </mat-error>
      </mat-form-field>
      
      <div>
        <label for="completada">Completada</label>
      <input type="checkbox" formControlName="completada" />
  
      <mat-form-field appearance="fill">
        <mat-label>Selecciona una Habilidad</mat-label>
        <mat-select formControlName="habilidades" multiple required>
          <mat-option *ngFor="let skill of (skills$ | async)" [value]="skill.name">
            {{ skill.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="tareaForm.get('skills')?.invalid && tareaForm.get('skills')?.touched">
          La habilidad es requerida
        </mat-error>
      </mat-form-field>

      <button mat-raised-button type="submit" >Enviar</button> <!--[disabled]="tareaForm.invalid" -->


      </div>
      
  
    </form>
  </div>

  <table>
    <thead>
      <tr>
        <th>Completada</th>
        <th>Fecha de Creación</th>
        <th>Título</th>
        <th>Persona</th>
        <th>Habilidades</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tarea of tareas,  let i = index">
        <td>
          <input type="checkbox" [checked]="tarea.completada" disabled />
        </td>
        <td>{{ tarea.fechaCreacion | date: 'mediumDate' }}</td>
        <td>{{ tarea.titulo }}</td>
        <td>
          <ul>
            <td>{{ tarea.persona }}</td>
          </ul>
        </td>

        <td>
          <ul>
            <li *ngFor="let habilidad of tarea.habilidades">{{ habilidad }}</li>
          </ul>
        </td>
        <td>
          <button (click)="editarTarea(i)">Actualizar</button>
           <button (click)="eliminarTarea(i)">Eliminar</button> 
        </td>
        
        
      </tr>
    </tbody>
  </table>
  
</div>
